body {
    margin: 0;
    padding: 0;
}

/* Base Template - Nav */

.bg-orange {
    background-color: #f5873f;
}

.navbar-brand {
    font-weight: bold;  
}

.navbar-brand img {
    height: 2rem;
    margin-right: 10px;
}

.navbar-toggler {
    background-color: #1e764b;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-play {
    background-color: #1e764b;
    padding: 10px 25px 10px 25px;
    border-radius: 6px;
    text-decoration: none;
}
@media (min-width: 992px) {
    .navbar-brand img{
        margin-right: 15px;
        height: 3.4rem;
    }
}

/* Landing Page - Hero Section */
.jumbatron {
    padding: 4rem 2rem;
    background-color: rgb(68 171 91);
    border-radius: .3rem;
}

.hero-svg-icon{
    height: 15rem;
    width: 100%;
    align-self: baseline;
}

.hero-section {
    min-height: 100%;
    max-height: fit-content;
    background-color: #51b86d;
}

.hero-link {
    background-color: #1e764b;
    padding: 20px 60px 20px 60px;
    border-radius: 6px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0.8rem;
}

/* Questions page css */
.question-border {
    border-radius: .3rem;
    border: 10px solid #ff883e;
    border-radius: 8px;
}

.orange-background {
    background-color: #ff883e;
}

.text-justify {
    text-align: justify;
}

@media (min-width: 992px) {
    .hero-svg-icon{
        height: 28rem;
    }
}