body {
    margin: 0;
    padding: 0;
}

.font-italic {
    font-style: italic;
}

.text-color-gold {
    color: #f8cd76;
}

/* Base Template - Nav */

.bg-orange {
    background-color: #f5873f;
}

.navbar-brand {
    font-weight: bold;  
}

.navbar-brand img {
    height: 2rem;
    margin-right: 10px;
}

.navbar-toggler {
    background-color: #1e764b;
}

.navbar-light .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255,255,255, 0.9)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-play {
    background-color: #1e764b;
    padding: 10px 25px 10px 25px;
    border-radius: 6px;
    text-decoration: none;
}
@media (min-width: 992px) {
    .navbar-brand img{
        margin-right: 15px;
        height: 3.4rem;
    }
}

/* Landing Page - Hero Section */
.jumbatron {
    padding: 4rem 2rem;
    background-color: rgb(68 171 91);
    border-radius: .3rem;
}

.hero-svg-icon{
    height: 15rem;
    width: 100%;
    align-self: baseline;
}

.hero-section {
    min-height: 100%;
    max-height: fit-content;
    background-color: #51b86d;
}

.hero-link {
    background-color: #1e764b;
    padding: 20px 60px 20px 60px;
    border-radius: 6px;
    font-size: 1.2rem;
    text-decoration: none;
    font-weight: bold;
    margin-top: 0.8rem;
}

@media (min-width: 992px) {
    .hero-svg-icon{
        height: 28rem;
    }
}

/* Info Page */

.jumbatron-info {
    padding: 4rem 2rem;
    background-color: #2b9c63;
    border-radius: 0;
    border: 3px solid #000000;
}

/* Questions page css */
.question-row-wrap {
    border: 3px solid #000000;
    background-color: #2b9c6395;
    min-height: 40rem;
    flex-direction: row;
    max-height: fit-content;
}

.question-wrap {
    background: #f7b98d;
    border: 3px solid #000000;
    min-height: 20rem;
    width: 19rem;
    max-height: fit-content;
    margin: 0 auto 0 auto;
}

.question-wrap>*{
    font-size: 2rem;
}

.answers-wrap {
    margin: 0.6rem auto 0 auto;
    width: 19rem;
}

.additionalInfo-question {
    width: 19rem;
}

.answer-messages {
    width: 19rem;
    margin: 0.6rem auto 0 auto;
}

.question-number-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.question-number{
    font-size: 2rem;
    width: fit-content;
}

.score-number{
    font-size: 2rem;
    width: fit-content;
}

.score-shamrock{
    height: 2rem;
}

.question-border {
    border: 3px solid #000000;
}

.orange-background {
    background-color: #ff883e;
}

.additionalInfo-question {
    border: 2px solid #ffffff;
    margin: 0 auto 0 auto;
}

.additionalInfo-question>* {
    font-size: 1.2rem;
}

.answer-btn {
    background-color: #f5873f;
    border-radius: 0;
    border: 3px solid #000000;
    font-size: 1.3rem;
    height: 30%;
}

.correct-answer-message {
    background-color: #f8cd76;
    border: 3px solid #000000;
    padding: 10px 0px 10px 0px;
    font-size: 1.2rem;
    font-weight: bold;
}

.incorrect-answer-message {
    background-color: #f88476;
    border: 3px solid #000000;
    margin-top: 1.2rem;
    padding: 10px 0px 10px 0px;
    font-size: 1.2rem;
    font-weight: bold;
}

.background-setup {
    background-repeat: no-repeat;
    background-size: contain;
}

.background-0 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214985/Hackathon2021/bg-baby_fhawws.png);
}

.background-1 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214986/Hackathon2021/bg-pirates_o2fxye.png);
}

.background-2 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214986/Hackathon2021/bg-sheep_e3zm1t.png);
}

.background-3 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214986/Hackathon2021/bg-escape_gozezf.png);
}
.background-4 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214986/Hackathon2021/bg-shamrock_jodxg4.png);
}

.background-5 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214985/Hackathon2021/bg-leap_fyhkjg.png);
}

.background-6 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214987/Hackathon2021/bg-snakes_v6viup.png);
}

.background-7 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214985/Hackathon2021/bg-guinness_hei7do.png);
}

.background-8 {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214986/Hackathon2021/bg-shamrock_jodxg4.png);
}

.background-pints {
    background-image: url(https://res.cloudinary.com/drtxn8d5t/image/upload/v1615214987/Hackathon2021/bg-pints_oln73q.png);
}

@media (min-width: 500px){
    .question-wrap {
        width: 24rem;
    }

    .answers-wrap {
        width: 24rem;
    }

    .answer-messages {
        width: 24rem;
    }

    .additionalInfo-question {
        width: 24rem;
    }
}

@media (min-width: 576px) {
    .question-wrap {
        width: 30rem;
    }

    .answers-wrap {
        width: 30rem;
    }

    .answer-messages {
        width: 30rem;
    }

    .additionalInfo-question {
        width: 30rem;
    }
}

@media (min-width: 768px){
    .question-wrap {
        width: 40rem;
    }
    
    .answers-wrap {
        width: 40rem;
    }

    .answer-messages {
        width: 40rem;
    }
    
    .additionalInfo-question {
        width: 40rem;
    }
}

@media (min-width: 1000px) {
    .question-wrap {
        width: 50%;
    }

    .answers-wrap {
        margin: 0 auto 0 auto;
        width: 50%;
    }

    .answer-messages {
        width: 100%;
        margin: 0.6rem auto 0 auto;
    }

    .additionalInfo-question {
        width: 100%;
    }
}

/* Scoreboard Page */

.header-scoreboard {
    height: fit-content;
}

.scoreboard-wrap {
    height: 40rem;
    background-color: #2b9c63;
    border: 3px solid #000000;
}

.scoreboard-h1{
    font-size: 2rem;
}

.clover-banner-scoreboard{
    height: 2rem;
}

.inner-scoreboard-wrap{
    height: 25rem;
    width: 19rem;
    background-color: #f7b98d;
    border: 3px solid #000000;
    overflow-y: scroll;
}

.opacity {
    opacity: 0.75;
}

@media (min-width: 378px) {
    .scoreboard-wrap {
        margin: 0 10px 0 10px;
    }

    .clover-banner-scoreboard {
        height: 3rem;
    }

    .scoreboard-h1{
        font-size: 2.5rem;
    }
}

@media (min-width: 500px){
    .inner-scoreboard-wrap{
        width: 23rem;
    }
}

@media (min-width: 576px) {
    .scoreboard-wrap {
        height: 40rem;
        margin: 0;
        padding: 10px;
        background-color: #2b9c63;
        border: 3px solid #000000;
    }

    .scoreboard-h1{
        font-size: 3rem;
    }
    
    .clover-banner-scoreboard{
        height: 4.3rem;
    }

    .inner-scoreboard-wrap{
        height: 25rem;
        width: 30rem;
    }
}

@media (min-width: 768px){
    .inner-scoreboard-wrap{
        height: 25rem;
        width: 40rem;
    }
}

@media (min-width: 992px){
    .scoreboard-h1{
        font-size: 4rem;
    }
    
    .clover-banner-scoreboard{
        height: 6rem;
    }

    .inner-scoreboard-wrap{
        height: 25rem;
        width: 50rem;
    }
}

@media (min-width: 1200px){
    .inner-scoreboard-wrap{
        height: 25rem;
        width: 60rem;
    }
}

/* Game End Page */

#back-home {
    text-decoration: none;
}